.calendar-widget {
  padding: 8px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  color: #cdd6f4;
  min-width: 260px;

  .calendar-header {
    margin-bottom: 4px;
  }

  .calendar-title {
    font-size: 14px;
    font-weight: bold;
  }

  .calendar-title-button {
    background: transparent;
    border: none;
    color: #a6accd;
    padding: 4px;
    border-radius: 6px;
  }

  .calendar-title-button:hover {
    background-color: #313244;
  }

  .calendar-controls {
    margin-left: 0px;
  }

  .calendar-controls button {
    background: transparent;
    border: none;
    color: #a6accd;
    font-size: 14px;
    padding: 4px;
    border-radius: 6px;
  }

  .calendar-controls button:hover {
    background-color: #313244;
  }

  .calendar-day-name {
    font-size: 12px;
    color: #888;
  }

  .calendar-day {
    font-size: 13px;
    color: #cdd6f4;
    padding: 6px;
    border-radius: 6px;
  }

  .calendar-day.today {
    background-color: #a6e3a1;
    color: #1e1e2e;
  }

  .calendar-day.not-in-month {
    color: #585b70;
  }

  .calendar-divider {
    background-color: #444;
    min-height: 1px;
    margin: 6px 0;
  }
}
